services:
  - type: web
    name: regaarder-backend
    env: node
    region: us-east
    plan: free
    buildCommand: cd backend && npm install
    startCommand: cd backend && npm start
    envVars:
      - key: PORT
        value: 4000
      - key: NODE_ENV
        value: production
